.avatar {
  width: 65px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
  &:hover{
    background-color: rgb(142, 142, 142);
    &::after{
      position: absolute;
      left: 55%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 24px;
      height: 24px;
      content: url('../../shared/assets/images/fi-rr-plus-white.svg');
      z-index: 10;
    }
  }
  .file{
    display: none;
  }
}
