.container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.day__container {
  border-radius: 0;
}

.day__container:hover {
  border-radius: 0;
}

.display {
  border: 1px solid rgba(24, 24, 29, 0.14);
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;

  padding: 0 12px;
  color: #1e1d21;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.arbitrary {
  position: absolute;
  display: flex;
  top: 100%;
  left: 0;
  z-index: 9999;
}

.button {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #1e1d21;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  background-color: transparent;

  padding: 0;
  padding-bottom: -2px;
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.calendar {
  display: flex;
  gap: 5px;
}

.calendar__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  background: white;
  top: 100%;
  left: 0;
  z-index: 9999;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.name {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: #1e1d21;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  background-color: #c6d3fe;

  margin: 0;
  padding: 5px;
}

.dates {
  display: flex;
  gap: 5px;
}

.apply {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
