.container {
  display: flex;
  background: #1e1d21;
  flex-direction: column;
  position: fixed;
  height: 100%;
}

nav::-webkit-scrollbar {
  width: 2px;
}

nav::-webkit-scrollbar-track {
  background-color: transparent;
}

nav::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.active {
  background: rgb(229, 69, 27);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px 0 inset;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 10px 24px;
  width: 100%;
  gap: 18px;
  align-items: center;
  align-self: flex-end;
}

.active svg g path {
  fill: #ffffff;
}

.area {
  background: #1e1d21;
  display: flex;
}

.link {
  text-decoration: none;
  display: flex;
  color: rgba(255, 255, 255, 0.43);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 10px 24px;
  width: 100%;
  gap: 18px;
  align-items: center;
  align-self: flex-end;

  background-color: transparent;
}

.link svg {
  width: 24px;
  height: 24px;
}

.link svg g path {
  fill: rgba(255, 255, 255, 0.43);
}

.link:hover {
  background: rgba(255, 255, 255, 0.11);
}

.header {
  color: #fff;
  font-family:
    Open Sans,
    sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.top__container {
  border-bottom: 1px #fff solid;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 70px;
  gap: 12px;
  justify-content: center;
  align-items: stretch;
  padding: 0 24px;
  flex-shrink: 0;
}

.area__title {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 12px 0 12px 20px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  padding: 12px 0 12px 0;
  max-height: 900px;
  overflow-y: scroll;
}

.profile__area {
  display: flex;
  flex-direction: column;
  padding: 0 25px 0 25px;
}

.organization__area {
  justify-self: flex-end;
}
