.container {
  padding: 9px 12px;
  font-size: 16px;
  outline: 0;
  border: 1px solid rgba(24, 24, 29, 0.25);
  width: 100%;

  &:focus {
    border: 1px rgb(38, 132, 255) solid;
  }
}

.error {
  border: 1px solid red;
}

.textarea {
  resize: none;
  overflow: auto;
  height: 75px;
  min-height: 75px;
  padding: 10.5px 12px;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.input {
  height: 40px;
  min-height: 40px;
  padding: 10px 12px 10px 12px;
}

.time {
  min-height: 40px;
  height: 40px;
  min-width: 70px;
  width: 70px;
  padding: 0 0 0 12px;
}

.mini {
  width: 80px;
  min-width: 80px;
  padding: 5px;
  height: 30px;
  min-height: 30px;
}
